.get {
    margin-bottom: 120px;
}
.get__inner {
    margin-bottom: 5px;
}
.latest__title {
    font-family: 'Catamaran';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.92px;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 200px;
}
.latest__text {
    font-family: 'Catamaran';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.36px;
    width: 660px;
    text-align: center;
    margin-bottom: 100px;
}
.hero__nav-text2 {
    color: #858585;

/* Small Text - Regular */
font-family: 'Catamaran';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
letter-spacing: 0.3px;
border: none;
outline: none;
width: 300px;    
border: #dfdfdf solid 2px;
border-radius: 15px;
padding: 20px 40px;
width: 380px;
margin-left: 270px;
}
.hero__nav-link2{
    background-color: #D22238;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Catamaran';
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 166.667% */
letter-spacing: 0.3px;
cursor: pointer;
}
.hero__nav-link2:hover{
    opacity: 0.8;
    }
    .hero__nav-link2:active{
        opacity: 0.5;
        }